body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(0deg, #7802c2, #4b0082, #4400ff, #997cf5);
    background-size: 400% 400%;
    animation: gradientMove 12s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h2{
    color: white;
}

h3{
    color: white;
}

h4{
    color: Aquamarine;
}

h2 {
    color: Aquamarine
}

.asset1 {
    padding: 10px;
    /*border: 2px solid #ccc;*/

    display: flex;
    flex-direction: row;

    align-items: center; /* vertical */
    justify-content: center; /* horizontal */

    margin: 0 auto;
}

.contmid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.butin {
    font-size: 45px;
    background-color: Firebrick;
    color: white;
    border-radius: 10px;
    border-color: OrangeRed;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.copyright {
    color: LightSlateGray;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 auto;
    color: Aquamarine;
}

.subtitle {
    font-size: 1.25rem;
    font-weight: 500;
    color: Turquoise;
}

.hline {
    border-color: Aquamarine;
    height: 0px;
    border-top: 20px solid Aquamarine;
    border-bottom: 20px solid Turquoise;
}

.bottom-line {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 10;
}

.glass {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 12rem;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    inset: 0 4px 20px rgba(255, 255, 255, 0.3);
}

.card-header {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
    margin-bottom: 0.9375rem;
}

