body{
    background-color: rgb(12, 12, 12);
}

h2{
    color: white;
}

h3{
    color: white;
}

h4{
    color: Aquamarine;
}

.asset1 {
    padding: 10px;
    border: 2px solid #ccc;
    align-items: center; //vertical
    justify-items: center; //horizontal
    flex-direction: row;

}