body{
    background-color: rgb(12, 12, 12);
}

h2{
    color: white;
}

h3{
    color: white;
}

h4{
    color: Aquamarine;
}

.asset1 {
    padding: 10px;
    /*border: 2px solid #ccc;*/

    display: flex;
    flex-direction: row;

    align-items: center; /* vertical */
    justify-content: center; /* horizontal */

    margin: 0 auto;
}

.contmid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.butin {
    font-size: 45px;
    background-color: Firebrick;
    color: white;
    border-radius: 10px;
    border-color: OrangeRed;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}